In [1]:
# Python_task_minfy

In [2]:
# Functions

In [3]:
# easy questions

In [ ]:
# 1. Functions basics

In [4]:
# Example usage:

def calculate_average(my_list):
    sum = 0
    n = len(my_list)
    if n == 0:
        return 0
    for i in range(n):
        sum += my_list[i]
    return sum/n
        
print(calculate_average([5, 10, 15, 20]))  # Should return 12.5
print(calculate_average([]))  # Should return 0

12.5
0

In [5]:
# 2.Default parameters

In [6]:
# Example usage:
def greet_user(name, greeting="Hello"):
    return f"{greeting}, {name}!"

print(greet_user("Alice"))  # Should return "Hello, Alice!"
print(greet_user("Bob", "Hi"))  # Should return "Hi, Bob!"

Hello, Alice!
Hi, Bob!

In [7]:
# medium questions

In [8]:
# 1.Variable argument

In [9]:
# Example usage:
def calculate_total(x, y, z, discount=0):
    tot = x+y+z
    return (1-(discount/100))*tot
    
print(calculate_total(10, 20, 30))  # Should return 60
print(calculate_total(10, 20, 30, discount=10))  # Should return 54 (10% off)

60.0
54.0

In [10]:
# Closures

In [11]:
# Example usage:
def create_multiplier(a):
    def multiplier(x):
        return x * a
    return multiplier
        

double = create_multiplier(2)
triple = create_multiplier(3)
print(double(5))  # Should return 10
print(triple(5))  # Should return 15

10
15

In [1]:
# Hard Questions

In [ ]:
# 1. Recursion

In [4]:
# Example usage:
def power(a,b):
    if(b == 0):
        return 1
    if(b == 1):
        return a
    return power(a, b-1)*a
    

print(power(2, 10))  # Should return 1024
print(power(3, 4))   # Should return 81

1024
81

In [ ]:
# 2. Higher-Order Functions

In [5]:
# Example usage:



def add_one(x): return x + 1
def double(x): return x * 2
def square(x): return x ** 2


compose = add_one    
f = compose(square, double, add_one)
print(f(3))  # Should compute square(double(add_one(3))) = square(double(4)) = square(8) = 64

NameError: name 'compose' is not defined

In [12]:
# List

In [13]:
# easy questions

In [14]:
# 1. List operations

In [15]:
# Example usage:
def filter_even_numbers(my_list):
    n = len(my_list)
    even_list = []
    for i in range(n):
        if(my_list[i]%2 == 0):
            even_list.append(my_list[i])
    return even_list

print(filter_even_numbers([1, 2, 3, 4, 5, 6]))  # Should return [2, 4, 6]
print(filter_even_numbers([1, 3, 5]))  # Should return []

[2, 4, 6]
[]

In [16]:
# 2. List manipulation

In [17]:
# Example usage:
def merge_sorted_lists(l1, l2):
    sorted_list = []
    n = len(l1)
    m = len(l2)
    i = 0
    j = 0
    while(i<n and j<m):
        if(l1[i]<l2[j]):
            sorted_list.append(l1[i])
            i += 1
        else:
            sorted_list.append(l2[j])
            j += 1
    while(i<n):
        sorted_list.append(l1[i])
        i += 1

    while(j<m):
        sorted_list.append(l2[j])
        j += 1
        
    return sorted_list

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))  # Should return [1, 2, 3, 4, 5, 6]
print(merge_sorted_lists([1, 2, 3], [4, 5, 6]))  # Should return [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [18]:
# Medium questions

In [19]:
# 1.List Comprehensions

In [20]:
# Example usage:
def generate_matrix(x, y):
    matrix = []
    for i in range(x):
        row = []
        for j in range(y):
            row.append(i*j)
        matrix.append(row)
    return matrix


print(generate_matrix(3, 3))
# Should return:
# [
#   [0, 0, 0],
#   [0, 1, 2],
#   [0, 2, 4]
# ]

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [21]:
# 2.nested list

In [22]:
# Example usage:
def transpose_matrix(matrix):
    row = len(matrix[0])
    col = len(matrix)
    trans_matrix = []
    for i in range(row):
        x = []
        for j in range(col):
            x.append(matrix[j][i])
        trans_matrix.append(x)
    return trans_matrix
        

matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
print(transpose_matrix(matrix))
# Should return:
# [
#   [1, 4],
#   [2, 5],
#   [3, 6]
# ]

[[1, 4], [2, 5], [3, 6]]

In [ ]:
# Hard questions

In [ ]:
# 1. Advanced list operation

In [6]:
# Example usage:
def find_peaks(my_list):
    n = len(my_list)
    ind = []
    for i in range(1,n-1):
        if(my_list[i-1]<my_list[i]>my_list[i+1]):
            ind.append(i)
    return ind

print(find_peaks([1, 3, 2, 3, 5, 4, 3, 2, 3, 1]))  # Should return [1, 4, 8]

[1, 4, 8]

In [7]:
#2. List Algorithms

In [11]:
# Example usage:
def rotate_list(my_list, k):
    n = len(my_list)
    for _ in range(k):
        my_list.insert(0, my_list.pop()) 
    return my_list

print(rotate_list([1, 2, 3, 4, 5], 2))  # Should return [4, 5, 1, 2, 3]
print(rotate_list([1, 2, 3], 4))  # Should return [3, 1, 2]

[4, 5, 1, 2, 3]
[3, 1, 2]

In [23]:
# Tuples

In [24]:
# Easy Question

In [25]:
# 1.Tuple Basics

In [26]:
# Example usage:
def swap_pairs(my_tup):
    temp = list(my_tup)
    n = len(my_tup)
    for i in range(0,n-1,2):
        temp[i], temp[i+1] = temp[i+1], temp[i]
    return tuple(temp)

"""def swap(x,y):
    temp = x
    x = y
    y = temp
    return x, y"""

print(swap_pairs((1, 2, 3, 4)))  # Should return (2, 1, 4, 3)
print(swap_pairs((1, 2, 3)))  # Should return (2, 1, 3)

(2, 1, 4, 3)
(2, 1, 3)

In [12]:
# 2. Tuple unpacking

In [15]:
# Example usage:
def get_stats(my_tuple):
    n = len(my_tuple)
    sum = 0
    max = -10000
    min = 10000
    for i in range (n):
        sum += my_tuple[i]
        if(my_tuple[i]>max):
            max = my_tuple[i]
        if(my_tuple[i]<min):
            min = my_tuple[i]
    return (min, max, sum, sum/n)

print(get_stats([1, 2, 3, 4, 5]))  # Should return (1, 5, 15, 3.0)

(1, 5, 15, 3.0)

In [16]:
# Medium Questions

In [17]:
# 1. Named Tuples

In [14]:
# Example usage:
from collections import namedtuple

Student = namedtuple("Student", ["name", "age", "marks"])

# You'll define the Student named tuple
def top_student(students):
    top = None
    highest = -1
    for student in students:
        tot = sum(student.marks)
        if(tot>highest):
            highest = tot
            top = student
        return top
                
    
alice = Student("Alice", 20, (85, 90, 95))
bob = Student("Bob", 19, (70, 80, 90))
charlie = Student("Charlie", 21, (90, 92, 93))

print(top_student([alice, bob, charlie]))  # Should return the charlie Student tuple

Student(name='Alice', age=20, marks=(85, 90, 95))

In [15]:
# 2. Tuple as Keys

In [26]:
# Example usage:
def count_coordinate_occurrences(my_tuple):
    my_dict = {}
    for i in range(len(my_tuple)):
        count = 0
        for j in range(len(my_tuple)):
            if(my_tuple[i] == my_tuple[j]):
                count += 1
        my_dict[my_tuple[i]] = count
    return my_dict


coords = [(1, 2), (3, 4), (1, 2), (5, 6), (3, 4), (1, 2)]
print(count_coordinate_occurrences(coords))
# Should return {(1, 2): 3, (3, 4): 2, (5, 6): 1}

{(1, 2): 3, (3, 4): 2, (5, 6): 1}

In [27]:
# Hard questions

In [28]:
# 1. Complex ds

In [30]:
# Example usage:

def group_by_department(employees):
    department_data = {}

    for name, department, salary in employees:
        if department not in department_data:
            department_data[department] = {"total_salary": 0, "count": 0, "names": []}
        
        department_data[department]["total_salary"] += salary
        department_data[department]["count"] += 1
        department_data[department]["names"].append(name)

    result = {}
    for dept, data in department_data.items():
        avg_salary = data["total_salary"] // data["count"]  # integer division as in example
        result[dept] = (avg_salary, data["names"])

    return result

    

employees = [
    ("Alice", "Engineering", 80000),
    ("Bob", "Marketing", 70000),
    ("Charlie", "Engineering", 90000),
    ("Diana", "HR", 65000),
    ("Eve", "Marketing", 75000)
]

result = group_by_department(employees)
print(result)
# Should return:
# {
#   "Engineering": (85000, ["Alice", "Charlie"]),
#   "Marketing": (72500, ["Bob", "Eve"]),
#   "HR": (65000, ["Diana"])
# }

{'Engineering': (85000, ['Alice', 'Charlie']), 'Marketing': (72500, ['Bob', 'Eve']), 'HR': (65000, ['Diana'])}